/* シンプル 枠（影）1 */

.kakomi-box-head {
    margin: 5px auto;
    padding: 5px;
    font: white;
    /* width: 90%; */
    border: 1px solid green;
    /* 枠線 */
    background-color: skyblue;
    /* 背景色 */
    box-shadow: 1px 1px 2px #ccc;
}

.kakomi-box-rows {
    margin: 5px auto;
    padding: 5px;
    /* width: 90%; */
    border: 1px solid lightgray;
    /* 枠線 */
    background-color: white;
    /* 背景色 */
    box-shadow: 1px 1px 2px #ccc;
}

.kakomi-box-rows:hover {
    background-color: white;
    /* width: 90%; */
    border: 1px solid blue;
}