.button {
    display: inline-block;
    width: 150px;
    height: 50pt;
    text-align: center;
    text-decoration: none;
    line-height: 50%;
    outline: none;
    white-space: pre-wrap;
}

.button::before, .button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.button, .button::before, .button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.button {
    background-color: rgba(51, 51, 51, 0.975);
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
}

.button:hover {
    background-color: rgba(238, 238, 238, 0.950);
    border-color: rgba(0, 89, 255);
    color: black;
    font-weight: bold;
}

.category_button {
    display: inline-block;
    width: fit-content;
    height: 30pt;
    text-align: center;
    text-decoration: none;
    line-height: 50%;
    outline: none;
    white-space: pre-wrap;
}

.category_button::before, .category_button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.category_button, .category_button::before, .category_button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.category_button {
    background-color: rgba(224, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 255, 0.850);
    color: black;
    /* line-height: 50px; */
}

.category_button:hover {
    background-color: rgba(158, 250, 53, 0.95);
    border-color: rgba(0, 89, 255);
    color: black;
}