span.OyaKo {
    background-color: royalblue;
    color: white;
}

span.HanFu {
    background-color: royalblue;
    color: white;
}

span.RonTsumo {
    background-color: royalblue;
    color: white;
}