@CHARSET "UTF-8";

.table {
	border: solid 1px #000000;
	margin:0px;
	border-collapse: collapse;
	table-layout: fixed;
}

.table td {
	border: solid 1px #000000;
	padding:4px;
	font-size:small;
}

.table th {
	background-color: #f5f5dc;
	border: solid 1px #000000;
	padding:4px;
	font-size:small;
}

.table_parent {
  overflow-y: auto;   /* スクロール表示 */
//   height: 400px;
}


.endpoint {
	width:400px;
}

.same {
	text-align:center;
}


.subject {
	width:600px;
}

.predicate {
	width:400px;
}

.obj {
	width:600px;
	table-layout: fixed;
word-break: break-all;
}
